html{
    width: 100%;
    height: 100%;
}
body {
    background-color: rgb(255, 221, 221);
    width: 100%;
    height: 100%;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    bottom: 0;
    width: 100%;
}
li {
    float: left;
    width: 25%;}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}

li a:hover:not(.active) {
    background-color: lightgrey;
}
.bgimg{
    background-image: url("images/wedding_couple.jpg");
    width: 100%;
    background-position: center;
    min-height: 100%;
    background-size: cover;
    top: 0;
    left: 0;

}
.img2{
    width: 100%;
    margin: 32px 0;
    vertical-align: middle;
    border-style: none;
    padding: 0;
    border-radius: 4px;

}
.bgimg2{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
}
.position-absolute{
    position: absolute;
}
.center{
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    letter-spacing: 4px;
}
h1 {
    display: block;
    font-size: 36px;
}
div {
    display: block;
}
.container{
    padding: 0.01em 16px;
}
p {
    display: block;
    margin: 15px;
    line-height: 2;
}
.half {
    width: 49.99999%;
    float: left;
}
.raw {
    display: block;
}
.padding-16{
    padding: 16px;
}
.black{
    color: black;
}
footer{
    display: block;
    box-sizing: inherit;
}
.content, .img2{
    text-align: justify;
}
.display-container{
    position: center;
}
.text-grey{
    color: #757575!important;
    font-weight: bold;
}
body, h1, h2{
    font-family: "Raleway", sans-serif;
}
.button-center{
    text-align:center!important;
}
.content{
    max-width: 980px;
    margin: auto;
}
.black{
    color: #fff!important;
    background-color: #000!important;}
.padding-large{
    padding: 12px 24px!important;
}
.large{
    font-size: 18px!important;
}
.button{
    user-select: none;
    border: none;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
}
.round{
    border-radius: 4px;
}
.display-container{
    width: 100%;
    height: 100%;
}