div {
    margin: 0 auto;
    margin-top: 70px;
    width: 250px;
    height: 250px;
    background-color: grey;
}
div:hover{
    .animation
    margin: 0 auto;
    margin-top: 70px;
    width: 250px;
    height: 250px;
    background-color: grey;
    animation: square-to-circle 1s .83s infinite cubic-bezier(1,.015,.295,1.225) alternate;
}

@keyframes square-to-circle {
    0%  {
        border-radius:0 0 0 0;
        background:grey;
        transform:rotate(0deg);
    }
    25%  {
        border-radius:25% 25% 25% 25%;
        background:grey;
        transform:rotate(45deg);
    }
    50%  {
        border-radius:50% 50% 50% 50%;
        background: green;
        transform:rotate(90deg);
    }
    75%  {
        border-radius:75% 75% 75% 75%;
        background: green;
        transform:rotate(180deg);
    }
    100% {
        border-radius: 100% 100% 100% 100%;
        background: green;
        transform: rotate(360deg);}}



