* {

    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

li {

    list-style: none;
    display: inline-block
}

a {

    text-decoration: none;
    transition: all 500ms ease-in-out;
}

a:hover,
a:active {

    text-decoration: none;
}

h1,
h2,
h4 {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 21px;
}

.btn {

    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.btn:hover {

    background-color: #ededed !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
}
/*NAVIGATION*/

.navbar {
    background-color: #222222;!important;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: 700;
}
.navbar a {

    color: #fff !important;
    opacity: 0.7;
}
.navbar a:hover {

    opacity: 1;
    background-color: #111111 !important;
}
.img-fluid {
    width: 100%;
    height: auto;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.rounded {
    border-radius: 4px;
}
.tumbnail {
    width: 32px;
    padding: 6px;
}
.row {
    padding: 16px;
}
.tumbnail-2 {
    width: 100%;
    padding-bottom: 16px;
}
a {
    float: right;
    color: #222222;!important;
}
.example{
    height: 50%;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 16px;
    padding-top: 16px;
    display: block;
}

.sidebar{
    height:500px;
}
.tumbnail-3 {
    float: left;
    padding-bottom: 16px;
    padding-right: 16px;
}
/* sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    overflow-x: hidden;
    border-bottom: 3px;
    border-color: #5e5e5e;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #bdbdbd;
}

/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: #bdbdbd;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .sidenav {
        text-align: center;!important;
        font-size: 20px;!important;
        position: center;!important;
    }
    .center-block {
        display: block;
        object-position: center;
        width: 100%;
    }
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222222;!important;
    color: white;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}