html{
    box-sizing:border-box}
body {
    background-color: rgb(255, 221, 221)
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    bottom: 0;
    width: 100%;
}
li {
    float: left;
    width: 25%;}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}

li a:hover:not(.active) {
    background-color: lightgrey;
}
.bgimg{
    background-image: url("images/wedding_couple.jpg");
    width: 100%;
    background-position: center;
    position: absolute;
    min-height: 100%;
    background-size: cover;
    top: 0;
    left: 0;

}
.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    letter-spacing: 4px;
}
h1 {
    display: block;
}
div {
    display: block;
}
.container{

}
p  {
    display: block;
    margin: 15px;
    line-height: 2;
}
.half {
    width: 49.99999%;
    float: left;
}
.raw {
    display: block;
}
.padding-16{
    padding: 16px;
}
.black{
    color: black;
}
footer{
    display: block;
    box-sizing: inherit;
}